Reddit_ainews_phase3.json
{
  "name": "PHASE 2 - YouTube Upload (table: published_videos)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        272
      ],
      "id": "4061c19e-86bb-404d-bfed-1794d5350802",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst output = [];\n\nfor (const item of allItems) {\n    const script = item.json.video_script || \"\";\n    const matches = script.match(/\\[(.*?)\\]/g) || [];\n    const brolls = matches.map(x =>\n        x\n        .replace(/[\\[\\]]/g,'')\n        .replace(/^B-roll:\\s*/i,'')\n        .trim()\n    );\n\n    let index = 0; // Bộ đếm số thứ tự clip\n    for (const scene of brolls) {\n        if (!scene) continue;\n        output.push({\n            json:{\n                id: item.json.id,\n                title: item.json.title,\n                category: item.json.category,\n                broll: scene,\n                clip_index: index++ // Gán ID để đặt tên file vật lý\n            }\n        });\n    }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        272
      ],
      "id": "4a06d896-b7b7-4b6f-82f8-baa3295c6249",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        256
      ],
      "id": "e9b240b0-a838-4f27-8881-8189e38b9d35",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/videos/search?query={{$json.output}}&per_page=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        272
      ],
      "id": "2bdc5ba3-cf6a-4bba-86bf-1cf7a38f252d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uXYsfsORmFeJBQxM",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chuyển mô tả dưới đây thành MỘT truy vấn stock footage cho Pexels.\n\nQuy tắc:\n- Chỉ trả về duy nhất 1 cụm từ tiếng Anh\n- Tối đa 2–4 từ\n- Chỉ giữ chủ thể + hành động chính\n- Xóa chi tiết phụ, hiệu ứng, âm thanh, cảm xúc\n- Không dùng dấu phẩy\n- Không giải thích\n\nVí dụ:\n\"Học sinh ngủ gật trong lớp\"\n→ sleeping student classroom\n\n\"Người đang gõ code\"\n→ coding laptop\n\n\"Biểu đồ lương AI tăng\"\n→ AI salary chart\n\nInput:\n{{ $json.broll }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        272
      ],
      "id": "6e7c3ca8-3665-4162-9f3f-819b5f49c9c6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -112,
        528
      ],
      "id": "8f634c60-cc82-49e2-a9d5-1f87739d9523",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eN3ALHOeVCSL8S0y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const video = $json.videos?.[0];\n\nif (!video) return { json: { success: false } };\n\n// Ưu tiên HD dọc 1080x1920, fallback dọc bất kỳ, fallback lớn nhất\nconst preferred =\n  video.video_files.find(v => v.width === 1080 && v.height === 1920) ||\n  video.video_files.find(v => v.height > v.width) ||\n  video.video_files.sort((a, b) => b.width * b.height - a.width * a.height)[0];\n\nreturn {\n  json: {\n    success: true,\n    video_url: preferred.link,\n    duration: video.duration\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        272
      ],
      "id": "629412ec-9b49-4346-8d22-518420cc681f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "amount": "={{ 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        272
      ],
      "id": "ae4cc74f-b686-4a5a-a190-625fa44de295",
      "name": "Wait",
      "webhookId": "bbe51e48-a140-4f67-ac92-9b95759ecfd6"
    },
    {
      "parameters": {
        "jsCode": "// 1. Bốc toàn bộ link video thành phẩm sau vòng lặp\nconst videoClips = $input.all();\n\n// 2. Bốc toàn bộ các hàng dữ liệu gốc từ Supabase\nconst allRows = $('select_rows').all();\n\nlet allNarrations = [];\n\nallRows.forEach(row => {\n    const hook = row.json.video_hook || \"\";\n    const script = row.json.video_script || \"\";\n    \n    // Tách các đoạn thoại bằng cách bỏ phần nằm trong thẻ [B-roll: ...]\n    let narrations = script.split(/\\[.*?\\]/s).map(t => t.trim()).filter(t => t.length > 0);\n    \n    // Nếu có hook, gộp câu hook vào ngay đầu câu thoại đầu tiên của bài đó\n    if (hook && narrations.length > 0) {\n        narrations[0] = hook + \" \" + narrations[0];\n    }\n    \n    allNarrations = allNarrations.concat(narrations);\n});\n\n// 3. Ráp nối 1:1 theo đúng thứ tự xuất hiện\nconst finalClips = videoClips.map((item, idx) => {\n    return {\n        url: item.json.video_url,\n        text: allNarrations[idx] || \"\" // Khớp đúng câu thoại đã có hook\n    };\n});\n\nreturn [{\n    json: {\n        clips: finalClips\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2714aee3-3f94-4cb0-b7ae-9fed046eca8c",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9000/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        0
      ],
      "id": "c61230ca-425f-43f9-8e91-8f9d0f0e2eed",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "articles",
          "mode": "list",
          "cachedResultName": "articles"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "1tpvbwy"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "published_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        272
      ],
      "id": "634acfd2-05d6-4e29-aa1a-afef4fef0d90",
      "name": "select_rows",
      "credentials": {
        "postgres": {
          "id": "ebH3q7LkplGzOS9h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là chuyên gia SEO YouTube tại Việt Nam, chuyên tối ưu metadata cho Shorts công nghệ/AI.\n\nDựa trên nội dung video sau, hãy tạo metadata YouTube Shorts tối ưu:\n\nHook (3 giây đầu): {{ $('select_rows').first().json.video_hook }}\nNội dung đầy đủ: {{ $('select_rows').first().json.video_script }}\nDanh mục: {{ $('select_rows').first().json.category }}\n\nQuy tắc bắt buộc:\n- title: Tối đa 70 ký tự. Bắt đầu bằng emoji phù hợp. Lấy ý từ hook, viết lại súc tích hơn. KHÔNG clickbait.\n- description: 150-200 ký tự tóm tắt giá trị thực + hashtags ở cuối. Bao gồm #Shorts #AIVietNam và 4-5 hashtag nội dung.\n- tags: Mảng 10-12 từ khóa tiếng Việt + tiếng Anh, mix giữa broad (\"AI\", \"trí tuệ nhân tạo\") và specific (tên tool/sự kiện trong video).\n\nBẮT BUỘC trả về JSON thuần túy, KHÔNG dùng dấu ```:\n{\n  \"title\": \"...\",\n  \"description\": \"...\",\n  \"tags\": [\"tag1\", \"tag2\"]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        0
      ],
      "id": "2662ec17-35bf-4c9f-b6a6-ec66e8b71604",
      "name": "AI sinh metadata YouTube"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        928,
        176
      ],
      "id": "946efe01-9576-4a6d-b73c-eb36bbf88e83",
      "name": "Gemini Flash (metadata)",
      "credentials": {
        "googlePalmApi": {
          "id": "eN3ALHOeVCSL8S0y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output || '';\n\nlet meta;\ntry {\n  meta = JSON.parse(aiOutput.replace(/```json|```/g, '').trim());\n} catch(e) {\n  const hook = $('select_rows').first().json.video_hook || '';\n  meta = {\n    title: hook.substring(0, 68),\n    description: 'Video AI mới nhất. #Shorts #AIVietNam #CongNgheAI #AI',\n    tags: ['AI', 'Trí tuệ nhân tạo', 'Công nghệ', 'Shorts', 'AIVietNam']\n  };\n  console.log('[!] AI trả sai format JSON, dùng fallback.');\n}\n\nconst binaryData = $('HTTP Request2').first().binary;\n\nreturn [{\n  json: {\n    article_id:  $('select_rows').first().json.id,\n    title:       (meta.title || '').substring(0, 100),\n    description: meta.description || '',\n    tags:        Array.isArray(meta.tags) ? meta.tags : []\n  },\n  binary: binaryData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "14fe0fb9-4809-4fb2-8d26-389c43b6687c",
      "name": "Parse & fallback metadata"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "VN",
        "categoryId": "28",
        "options": {
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1552,
        0
      ],
      "id": "4f0da947-09e3-472c-bc61-5a88edb63621",
      "name": "Upload YouTube Shorts",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "qR0zXyEGQ5YMRzTN",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const uploadRes = $input.first().json;\nconst prev = $('Parse & fallback metadata').first().json;\n\nconst ytId = uploadRes.uploadId || uploadRes.id\n  || uploadRes.snippet?.resourceId?.videoId\n  || uploadRes.contentDetails?.videoId\n  || '';\n\nconst ytUrl = ytId ? `https://www.youtube.com/shorts/${ytId}` : '';\nconsole.log(`[✔] YouTube upload OK → ${ytUrl}`);\n\nreturn [{\n  json: {\n    article_id:     prev.article_id,\n    yt_title:       prev.title,\n    yt_description: prev.description,\n    yt_tags:        prev.tags,\n    youtube_id:     ytId,\n    youtube_url:    ytUrl,\n    yt_status:      ytId ? 'published' : 'failed',\n    yt_uploaded_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "id": "949aeb7e-f47f-4c5f-87fc-d307ae3fe006",
      "name": "Extract YouTube URL"
    },
    {
      "parameters": {
        "tableId": "published_videos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "article_id",
              "fieldValue": "={{ $json.article_id }}"
            },
            {
              "fieldId": "yt_title",
              "fieldValue": "={{ $json.yt_title }}"
            },
            {
              "fieldId": "yt_description",
              "fieldValue": "={{ $json.yt_description }}"
            },
            {
              "fieldId": "yt_tags",
              "fieldValue": "={{ $json.yt_tags }}"
            },
            {
              "fieldId": "youtube_id",
              "fieldValue": "={{ $json.youtube_id }}"
            },
            {
              "fieldId": "youtube_url",
              "fieldValue": "={{ $json.youtube_url }}"
            },
            {
              "fieldId": "yt_status",
              "fieldValue": "={{ $json.yt_status }}"
            },
            {
              "fieldId": "yt_uploaded_at",
              "fieldValue": "={{ $json.yt_uploaded_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2016,
        0
      ],
      "id": "19d9ad03-f7f0-4558-aedb-97358112a1b4",
      "name": "Insert vào published_videos",
      "credentials": {
        "supabaseApi": {
          "id": "vJ6gCw6ryNHjlp28",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (result.status !== 'success') {\n  throw new Error(`Flask thất bại: ${result.message || 'Unknown error'}`);\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "38eca31d-a0c7-4ce2-a9ce-acad6a95b266",
      "name": "Check Flask OK"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:9000/get_video?path={{ $('HTTP Request1').first().json.video }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "94d25426-6902-4688-b873-162639e7d1d8",
      "name": "HTTP Request2",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "select_rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "AI sinh metadata YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash (metadata)": {
      "ai_languageModel": [
        [
          {
            "node": "AI sinh metadata YouTube",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI sinh metadata YouTube": {
      "main": [
        [
          {
            "node": "Parse & fallback metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & fallback metadata": {
      "main": [
        [
          {
            "node": "Upload YouTube Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload YouTube Shorts": {
      "main": [
        [
          {
            "node": "Extract YouTube URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract YouTube URL": {
      "main": [
        [
          {
            "node": "Insert vào published_videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Check Flask OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Flask OK": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "88200b21-2bad-4526-8401-6ef141d4feae",
  "meta": {
    "instanceId": "11397e4e8e2818fcf7ddb2e184892aa08ed7e1e5cef83e8a7589390bc2b4c74c"
  },
  "id": "OBabEk6oF1lAV4hY",
  "tags": []
}